.body {
  min-height: 44em;
}

.sidebar-column {
  transition: left 0.5s ease;
  position: absolute;
  top: 5.8em;
  left: -3%;
  min-height: 46em;
  background-color: rgb(235, 235, 235);
  z-index: 1;
}

.toggle-sidebar-button {
  position: absolute;
  z-index: 2;
  left: 0%;
  top: 45%;
  bottom: 45%;
}

.input-button {
  max-height: fit-content;
  min-height: fit-content;
  max-width: 15rem;
  min-width: fit-content;
  padding: 12px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #ffffff;
  color: #333333;
  border: 2px solid #333333;
  border-radius: 100px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.input-button-save {
  max-height: fit-content;
  min-height: fit-content;
  max-width: 15rem;
  min-width: fit-content;
  padding: 12px 20px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #ffffff;
  color: #333333;
  border: 2px solid #333333;
  border-radius: 100px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.input-button:hover {
  background-color: #333333;
  color: #ffffff;
  border-color: #ffffff;
}

.input-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(51, 51, 51, 0.3);
}

.input-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.preview-song {
  background-color: #2b4b61;
  color: #ffffff;
}

.instructions-tittle {
  font-family: 'Bungee', sans-serif;
}

.instructions-text {
  font-family: 'Fredoka', sans-serif;
  line-height: 1.5;
}

.input {
  background-color: #f5f5f5;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: box-shadow 0.3s ease;
}

.input:hover, .input:focus {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.input:disabled {
  background-color: #eee;
  cursor: not-allowed;
}

.input-combobox {
  background-color: #f5f5f5;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.input-checkbox, .input-checkbox2 {
  appearance: none;
  -webkit-appearance: none;
  width: 1.5em;
  height: 1.5em;
  border: 2px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

/* Estilo del input checkbox al estar marcado */
.input-checkbox:checked {
  border-color: #5f9ea0;
  background-color: #5f9ea0;
}
.input-checkbox2:checked {
  border-color: #a05f5f;
  background-color: #a05f5f;
}