:root {
    --body_background: white;
    --body-color: black;
    --link_color: navy;
    --time_btn_color: white;
    --time_btn_color_on: gray;
}

[data-theme="dark"] {
    --body_background: #121212;
    --body_color: white;
    --link_color: cyan;
    --border_color: gray;
    --time_btn_color:#121212;
    --time_btn_color_on:gray;
}

.theme{
 background-color: var(--body_background) !important;
 color: var(--body_color) !important;
}

.theme-border{
    border-color: var(--border_color) !important;
}

.time-btn-on{
    background-color: var(--time_btn_color_on) !important;
}

.time-btn-off{
    background-color: var(--time_btn_color) !important;
}

.test{
    fill: red !important;
}