:root {
    --transition-duration: 0.5s;
    --body_background: white;
    --body-color: black;
    --link_color: black;
    --border_color: black;
    --time_btn_color: white;
    --time_btn_color_on: gray;
}
  
[data-theme="dark"] {
    --body_background: #121212;
    --body_color: white;
    --link_color: white;
    --border_color: gray;
    --time_btn_color: #121212;
    --time_btn_color_on: gray;
}

body {
    overflow-x: hidden;
}

.theme {
    background-color: var(--body_background) !important;
    color: var(--body_color) !important;
    transition: background-color var(--transition-duration), color var(--transition-duration);
}
  
.theme-border {
    border-color: var(--border_color) !important;
    transition: border-color var(--transition-duration);
}

.main-color{
    background-color: #9c439c !important;
}

.main-border{
    border-color: #9c439c !important;
}

.time-btn-on {
    background-color: var(--time_btn_color_on) !important;
}

.time-btn-off {
    background-color: var(--time_btn_color) !important;
}

.font {
    font-family: fredoka !important;
}

h1, h2 {
    font-family: Bungee;
}